* {
  word-break: keep-all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6em;
  margin-top: 0;
}

li, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-style: normal;
}

button {
  background: transparent;
  border: none;
}

button,
input[type=button] {
  cursor: pointer;
}

svg, path {
  display: inline-block;
}

/* Sikp Navigation */
.skipNavi {
  height: 0;
}
.skipNavi .skipLink {
  position: absolute;
  top: -1000px;
  left: -1000px;
  overflow: hidden;
  z-index: 5;
}
.skipNavi .skipLink:focus, .skipNavi .skipLink:active {
  top: 0;
  left: 0;
  padding: 10px 0;
  width: 100%;
  background: #1e64ba;
  color: #fff;
  text-align: center;
}

/* common hidden */
.hidden {
  display: none;
}

.blind, table caption {
  width: 0.063rem;
  height: 0.063rem;
  overflow: hidden;
  position: absolute;
  top: -9999em;
  left: -9999em;
  display: block;
  text-indent: -9999em;
  font-size: 0;
  line-height: 0;
}

.scrollLock {
  overflow: hidden;
}