@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
* {
  word-break: keep-all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6em;
  margin-top: 0;
}

li, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-style: normal;
}

button {
  background: transparent;
  border: none;
}

button,
input[type=button] {
  cursor: pointer;
}

svg, path {
  display: inline-block;
}

/* Sikp Navigation */
.skipNavi {
  height: 0;
}
.skipNavi .skipLink {
  position: absolute;
  top: -1000px;
  left: -1000px;
  overflow: hidden;
  z-index: 9000;
}
.skipNavi .skipLink:focus, .skipNavi .skipLink:active {
  top: 0;
  left: 0;
  padding: 10px 20px;
  background: #1e64ba;
  color: #fff;
}

/* common hidden */
.hidden {
  display: none;
}

.blind, table caption {
  width: 0.063rem;
  height: 0.063rem;
  overflow: hidden;
  position: absolute;
  top: -9999em;
  left: -9999em;
  display: block;
  text-indent: -9999em;
  font-size: 0;
  line-height: 0;
}

/* font */
/* color */
/* spacing */
/* font */
/* font */
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("./fonts/Pretendard-Bold.woff2") format("woff2"), url("./fonts/Pretendard-Bold.woff") format("woff"), url("./fonts/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("./fonts/Pretendard-SemiBold.woff2") format("woff2"), url("./fonts/Pretendard-SemiBold.woff") format("woff"), url("./fonts/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("./fonts/Pretendard-Medium.woff2") format("woff2"), url("./fonts/Pretendard-Medium.woff") format("woff"), url("./fonts/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("./fonts/Pretendard-Regular.woff2") format("woff2"), url("./fonts/Pretendard-Regular.woff") format("woff"), url("./fonts/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("./fonts/Pretendard-Light.woff2") format("woff2"), url("./fonts/Pretendard-Light.woff") format("woff"), url("./fonts/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("./fonts/Pretendard-Thin.woff2") format("woff2"), url("./fonts/Pretendard-Thin.woff") format("woff"), url("./fonts/Pretendard-Thin.otf") format("opentype");
}
/* Mobile */
h1 {
  font-size: 3.563rem;
  font-weight: 300;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
}

h2, h3, h4 {
  line-height: 1.2em;
}

button, h2, h4 {
  font-weight: 500;
}

h1, button {
  line-height: 100%;
}

p {
  line-height: 1.5;
}

/* Tablet */
/* PC */
@media (min-width: 768px) {
  h1 {
    font-size: 6.875rem;
    font-weight: 100;
  }
  h2 {
    font-size: 3.125rem;
  }
  h3 {
    font-size: 1.875rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.5rem;
  }
}
/* ===========================
모든 페이지 공통 요소
==============================*/
body {
  font-family: "pretendard", sans-serif;
  color: #1F1F1F;
}

/* Body Swiper Silder Custom */
.swiper-pages {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.swiper-pages .swiper-wrapper {
  height: 100vh;
}
.swiper-pages .swiper-wrapper .swiper-slide {
  /* 두번째페이지 넓이 문제 수정 */
}
.swiper-pages .swiper-wrapper .swiper-slide:nth-child(3) {
  width: 100% !important;
}
.swiper-pages .swiper-pagination {
  position: fixed;
  -webkit-transform: rotate(90deg) translateX(-50%);
          transform: rotate(90deg) translateX(-50%);
  padding-right: 2rem;
}
.swiper-pages .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  background: transparent;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 0.625rem;
  width: 0.75rem;
  height: 0;
  opacity: 1;
  margin: 0 0.375rem !important;
}
.swiper-pages .swiper-pagination .swiper-pagination-bullet::after {
  font-size: 0.75rem;
  color: #1F1F1F;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding-top: 0.25rem;
}
.swiper-pages .swiper-pagination .swiper-pagination-bullet:nth-child(1)::after {
  content: "Main";
}
.swiper-pages .swiper-pagination .swiper-pagination-bullet:nth-child(2)::after {
  content: "About";
}
.swiper-pages .swiper-pagination .swiper-pagination-bullet:nth-child(3)::after {
  content: "Work";
}
.swiper-pages .swiper-pagination .swiper-pagination-bullet:nth-child(4)::after {
  content: "Design";
}
.swiper-pages .swiper-pagination .swiper-pagination-bullet:nth-child(5)::after {
  content: "Contact";
}
.swiper-pages .swiper-pagination .swiper-pagination-bullet-active {
  width: 2.5rem;
  margin-left: 0 !important;
}
.swiper-pages .swiper-pagination .swiper-pagination-bullet-active::after {
  left: 0.625rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
  text-underline-position: under;
  line-height: 100%;
  padding-top: 0;
}
.swiper-pages .swiper-pagination button {
  position: absolute;
  bottom: -0.313rem;
  left: 100%;
  width: 3rem;
  height: 3rem;
  border: 0.031rem solid #1F1F1F;
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: url(../images/svg/dark_mode.svg) no-repeat;
  background-position: 50%;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.swiper-pages .swiper-pagination button:hover {
  background: url(../images/svg/dark_mode_hover.svg) no-repeat;
  background-position: 50%;
  -webkit-box-shadow: inset 0 0 0.063rem rgba(52, 39, 61, 0.8), inset 0 0 0.125rem rgba(52, 39, 61, 0.8), inset 0 0 0.25rem rgba(52, 39, 61, 0.8);
          box-shadow: inset 0 0 0.063rem rgba(52, 39, 61, 0.8), inset 0 0 0.125rem rgba(52, 39, 61, 0.8), inset 0 0 0.25rem rgba(52, 39, 61, 0.8);
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 44% !important;
  left: 0 !important;
  width: auto !important;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  display: none;
}

/* Content box */
.div-cont {
  padding: 0 0.5rem 5rem;
}

/* Navigation bar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: transparent;
  z-index: 9000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Mobile Navigation */
  /* Mobile Navihation Open */
}
.nav .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.313rem;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .inner .btn-m-gnb {
  width: 2.875rem;
  height: 2.875rem;
  background: url(../images/svg/menu_hamberger.svg) no-repeat;
  color: #fff;
}
.nav .inner h1 a {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  text-shadow: 0.313rem 0.188rem 0.563rem #fff;
  line-height: 1.75rem;
}
.nav.nav-down {
  background-color: #FDFDFD;
  -webkit-box-shadow: -0.063rem -0.063rem 0.375rem #1F1F1F;
          box-shadow: -0.063rem -0.063rem 0.375rem #1F1F1F;
  opacity: 0.98;
}
.nav .mobile-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(0.625rem);
          backdrop-filter: blur(0.625rem);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.nav .mobile-nav-overlay .mobile-nav {
  display: none;
  height: inherit;
}
.nav .mobile-nav-overlay .mobile-nav .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav .mobile-nav-overlay .mobile-nav .inner .close svg {
  width: 1.5rem;
  height: 1.5rem;
}
.nav .mobile-nav-overlay .mobile-nav .inner .close svg path {
  stroke: #E3E3E3;
}
.nav .mobile-nav-overlay .mobile-nav .inner .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  margin: 2.5rem 0 4.375rem 0;
}
.nav .mobile-nav-overlay .mobile-nav .inner .menu_list .swiper-pagination-bullet {
  position: relative;
  background-color: transparent;
  opacity: 1;
}
.nav .mobile-nav-overlay .mobile-nav .inner .menu_list .swiper-pagination-bullet:nth-child(1), .nav .mobile-nav-overlay .mobile-nav .inner .menu_list .swiper-pagination-bullet:nth-child(7) {
  display: none;
}
.nav .mobile-nav-overlay .mobile-nav .inner .menu_list .swiper-pagination-bullet::after {
  color: #E3E3E3;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
}
.nav .mobile-nav-overlay .mobile-nav .inner .menu_list .swiper-pagination-bullet:hover::after {
  color: rgba(205, 156, 252, 0.8);
  text-decoration: underline;
  text-underline-position: under;
}
.nav .mobile-nav-overlay .mobile-nav .inner .menu_list .swiper-pagination-bullet:nth-child(2)::after {
  content: "Main";
}
.nav .mobile-nav-overlay .mobile-nav .inner .menu_list .swiper-pagination-bullet:nth-child(3)::after {
  content: "About";
}
.nav .mobile-nav-overlay .mobile-nav .inner .menu_list .swiper-pagination-bullet:nth-child(4)::after {
  content: "Work";
}
.nav .mobile-nav-overlay .mobile-nav .inner .menu_list .swiper-pagination-bullet:nth-child(5)::after {
  content: "Design";
}
.nav .mobile-nav-overlay .mobile-nav .inner .menu_list .swiper-pagination-bullet:nth-child(6)::after {
  content: "Contact";
}
.nav .mobile-nav-overlay .mobile-nav .inner .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.313rem;
}
.nav .mobile-nav-overlay .mobile-nav .inner .sns li svg {
  width: 1.5rem;
  height: 1.5rem;
}
.nav .mobile-nav-overlay .mobile-nav .inner .sns li svg path {
  fill: #E3E3E3;
}
.nav .mobile-nav-overlay .mobile-nav .inner .sns li:hover svg path {
  fill: rgba(205, 156, 252, 0.8);
}
.nav .mobile-nav-overlay .mobile-nav .inner .mode-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E3E3E3;
  border-radius: 20px;
  padding: 7px 20px;
  margin-top: 20px;
}
.nav .mobile-nav-overlay .mobile-nav .inner .mode-switch i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/svg/dark_mode_light.svg) no-repeat;
  margin-right: 10px;
}
.nav .mobile-nav-overlay .mobile-nav .inner .mode-switch span:after {
  content: "Dark mode";
  color: #E3E3E3;
  display: inline-block;
  line-height: 26px;
  height: 24px;
}
.nav .mobile-nav-overlay .mobile-nav .inner .mode-switch:hover {
  border: 0.063rem solid rgba(205, 156, 252, 0.8);
  background-color: rgba(205, 156, 252, 0.8);
}
.nav .mobile-nav-overlay.on {
  height: 100%;
}
.nav .mobile-nav-overlay.on .mobile-nav {
  display: block;
  -webkit-animation: display 2s ease;
          animation: display 2s ease;
}
.nav .mobile-nav-overlay.on .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Main Contents Layout */
.container {
  color: #1F1F1F;
}
.container .fullpage section #page-design {
  height: 3000px;
  background-color: olive;
}
.container .fullpage section #page-contact {
  height: 4000px;
  background-color: yellow;
}

/* Bottom Navigation */
.div-cont {
  width: 100%;
}
.div-cont .nav_btn_wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.div-cont .nav_btn_wrap .nav_btn a {
  padding: 1.25rem 1.5rem;
  background-color: rgba(233, 221, 243, 0.9);
  border-radius: 1.25rem;
  display: grid;
  align-self: start;
  grid-gap: 0.375rem;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.div-cont .nav_btn_wrap .nav_btn a span {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.div-cont .nav_btn_wrap .nav_btn a span i {
  display: none;
}
.div-cont .nav_btn_wrap .nav_btn a span:first-child {
  font-size: 0.875rem;
}
.div-cont .nav_btn_wrap .nav_btn a span:last-child {
  font-size: 1.125rem;
  text-transform: uppercase;
}
.div-cont .nav_btn_wrap .nav_btn a .privious::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/svg/arrow_l.svg) no-repeat;
}
.div-cont .nav_btn_wrap .nav_btn a .next::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/svg/arrow_r.svg) no-repeat;
}
.div-cont .nav_btn_wrap .nav_btn a:hover {
  background-color: rgba(205, 156, 252, 0.8);
}

/* Footer */
footer {
  text-align: center;
  padding: 3.5rem;
  border-top: 0.063rem solid #1F1F1F;
}
footer .footer .f-logo {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  text-shadow: 0.313rem 0.188rem 0.563rem #fff;
  line-height: 1.75rem;
}
footer .footer .f-logo a {
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
footer .footer .f-info {
  font-size: 0.75rem;
  margin: 0.5rem;
}

:is(header, footer) .sns {
  display: none;
}

/* ===========================
sub 페이지 공통요소
==============================*/
.sub-tit {
  margin: 4rem 0.5rem 0.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-tit .inner {
  padding: 4.375em 0 4.375em 2em;
}
.sub-tit h1 {
  text-transform: uppercase;
}
.sub-tit p {
  font-size: 1.125rem;
  margin-top: 0.5em;
}

.sub-body {
  margin-bottom: 4.375rem;
}
.sub-body .sub-con {
  height: auto;
}
.sub-body .sub-con nav {
  position: sticky;
  top: 4rem;
  width: 100%;
  margin: 0 auto;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: max-width, margin;
  transition-property: max-width, margin;
  -webkit-transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  z-index: 9001;
}
.sub-body .sub-con nav .tab-container {
  height: 2.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}
.sub-body .sub-con nav .tab-container .tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  background: rgba(233, 221, 243, 0.9);
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}
.sub-body .sub-con nav .tab-container .tab-list .tab {
  font-size: 1rem;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.5rem;
  border: none;
  border-radius: 2.5rem;
  background: rgba(233, 221, 243, 0.9);
  cursor: pointer;
  vertical-align: middle;
}
.sub-body .sub-con nav .tab-container .tab-list .tab::before {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: scaleX(0.32);
          transform: scaleX(0.32);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  border-radius: 2.5rem;
  background: rgba(205, 156, 252, 0.8);
  content: "";
}
.sub-body .sub-con nav .tab-container .tab-list .tab.active::before {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.sub-body .sub-con nav .tab-container .tab-list .tab:hover::before {
  background: rgba(184, 142, 224, 0.8);
}
.sub-body .sub-con nav .tab-container .tab-list .tab span {
  z-index: 1;
}
.sub-body .sub-con .content {
  padding: 3.125rem 0.625rem 0;
}
.sub-body .sub-con .content :is(.con01, .con02).active {
  display: grid !important;
}
.sub-body .sub-con .content :is(.con01, .con02) {
  display: none !important;
}

@media (min-width: 768px) {
  /* Bottom Navigation */
  .div-cont .sub-body nav .tab-list .tab span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .div-cont .sub-body nav .tab-list .tab span::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 8px;
  }
  .div-cont .nav_btn_wrap .nav_btn a {
    padding: 1.625rem 1.5rem;
    grid-gap: 0.75rem;
  }
  .div-cont .nav_btn_wrap .nav_btn a span {
    font-weight: 500;
  }
  .div-cont .nav_btn_wrap .nav_btn a span i {
    display: block;
  }
  .div-cont .nav_btn_wrap .nav_btn a span:first-child {
    font-size: 1rem;
  }
  .div-cont .nav_btn_wrap .nav_btn a span:last-child {
    font-size: 1.5rem;
  }
}
@media (max-width: 1300px) {
  .swiper-pages .swiper-wrapper .swiper-slide {
    /* 두번째페이지 넓이 문제 수정 */
  }
  .swiper-pages .swiper-wrapper .swiper-slide:nth-child(3) {
    width: 100% !important;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: -2.875rem !important;
  }
}
@media (min-width: 1200px) {
  /* Body Swiper Silder Custom */
  .swiper-pagination {
    display: block;
  }
  /* Content box */
  .div-cont {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0.625rem 8.125rem;
  }
  /* Navigation bar */
  .nav {
    height: 4.5rem;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .nav .inner {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .inner .btn-m-gnb {
    display: none;
  }
  .nav .inner h1 a {
    display: block;
    font-size: 1.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    text-shadow: 0.313rem 0.188rem 0.563rem #fff;
    line-height: 1.75rem;
  }
  .nav.nav-down {
    background-color: #FDFDFD;
  }
  /* Footer */
  footer {
    padding: 5rem 0;
  }
  footer .footer {
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer .f-logo {
    font-size: 1.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    text-shadow: 0.313rem 0.188rem 0.563rem #fff;
    line-height: 1.75rem;
  }
  footer .footer .f-logo a {
    -webkit-transition: 0.35s;
    transition: 0.35s;
  }
  footer .footer .f-info {
    font-size: 0.75rem;
    margin: 0.5rem;
  }
  :is(header, footer) .sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  :is(header, footer) .sns li svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  :is(header, footer) .sns li svg path {
    fill: #1F1F1F;
  }
  /* ===========================
  page About 
  ==============================*/
  .sub-tit {
    margin: 0.625rem 0.5rem 0.5rem;
  }
  .sub-tit .inner {
    width: 1200px;
    margin: 0 auto;
  }
  .sub-tit .inner p {
    font-size: 1.375rem;
  }
  .sub-body {
    margin-bottom: 7.5rem;
  }
  .sub-body .sub-con nav {
    top: 4.5rem;
  }
  .sub-body .sub-con nav .tab-container {
    height: 5rem;
  }
  .sub-body .sub-con nav .tab-container .tab-list .tab {
    font-size: 1.125rem;
  }
  .sub-body .sub-con nav .tab-container .tab-list .tab:hover::before {
    background: rgba(184, 142, 224, 0.8);
  }
  .sub-body .sub-con .content {
    padding: 3.125rem 0.625rem 0;
  }
}
/* ===========================
page Main 
============================= */
.main_wrap {
  background-color: #fdfdfd;
  width: 100%;
  z-index: 2;
}
.main_wrap .bg {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-image: url(../images/bg_mobile_main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fdfdfd;
  -webkit-animation: bgScale 3s 3s ease-in-out infinite alternate-reverse, bgblur 4s linear;
          animation: bgScale 3s 3s ease-in-out infinite alternate-reverse, bgblur 4s linear;
  z-index: -1;
}
.main_wrap .div-cont {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_wrap .div-cont .visual-con {
  height: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_wrap .div-cont .visual-con .visual-txt {
  text-align: center;
}
.main_wrap .div-cont .visual-con .visual-txt h1 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.313rem;
  text-shadow: 0 0.313rem 0.313rem #fff;
}
.main_wrap .div-cont .visual-con .visual-txt h2 {
  text-transform: uppercase;
  font-weight: 300;
}
.main_wrap .div-cont .visual-con .visual-txt p {
  font-size: 1.125rem;
  font-weight: 500;
}
.main_wrap .div-cont .visual-con .visual-txt .gide {
  position: relative;
  margin-top: 2.5rem;
  height: 3.75rem;
}
.main_wrap .div-cont .visual-con .visual-txt .gide:after {
  content: "왼쪽으로 쓸어 넘기세요.";
  font-size: 0.75rem;
  position: absolute;
  left: 50%;
  bottom: 0.625rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.main_wrap .div-cont .visual-con .visual-txt .gide:hover:after {
  opacity: 1;
  bottom: -0.5rem;
}
.main_wrap .div-cont .visual-con .visual-txt .gide i {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main_wrap .div-cont .visual-con .visual-txt .gide .l {
  left: 25%;
  -webkit-animation: gide-arrow-l 2s 3s linear infinite;
          animation: gide-arrow-l 2s 3s linear infinite;
}
.main_wrap .div-cont .visual-con .visual-txt .gide .l span {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/svg/arrow_l_02.svg) no-repeat;
}
.main_wrap .div-cont .visual-con .visual-txt .gide .R {
  left: 75%;
  -webkit-animation: gide-arrow-r 2s 3s linear infinite;
          animation: gide-arrow-r 2s 3s linear infinite;
}
.main_wrap .div-cont .visual-con .visual-txt .gide .R span {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/svg/arrow_r_02.svg) no-repeat;
}
.main_wrap .div-cont .visual-con .visual-txt .gide .hand {
  top: -10px;
  left: 51%;
  content: "";
  display: inline-block;
  width: 3.375rem;
  height: 3.375rem;
  background: url(../images/svg/swiper.svg) no-repeat;
  background-size: 124%;
  background-position: -0.313rem 0;
  -webkit-animation: gide-hand 2s 3s linear infinite, gide-hand-op 2s linear 12;
          animation: gide-hand 2s 3s linear infinite, gide-hand-op 2s linear 12;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  opacity: 3%;
}

@-webkit-keyframes gide-hand {
  0% {
    -webkit-transform: translateX(-80%) rotate(0deg) scale(84%);
            transform: translateX(-80%) rotate(0deg) scale(84%);
  }
  50% {
    -webkit-transform: translateX(-30%) rotate(5deg) scale(75%);
            transform: translateX(-30%) rotate(5deg) scale(75%);
    opacity: 0;
  }
  80% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateX(-80%) rotate(0deg) scale(84%);
            transform: translateX(-80%) rotate(0deg) scale(84%);
    opacity: 100%;
  }
}

@keyframes gide-hand {
  0% {
    -webkit-transform: translateX(-80%) rotate(0deg) scale(84%);
            transform: translateX(-80%) rotate(0deg) scale(84%);
  }
  50% {
    -webkit-transform: translateX(-30%) rotate(5deg) scale(75%);
            transform: translateX(-30%) rotate(5deg) scale(75%);
    opacity: 0;
  }
  80% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateX(-80%) rotate(0deg) scale(84%);
            transform: translateX(-80%) rotate(0deg) scale(84%);
    opacity: 100%;
  }
}
@-webkit-keyframes gide-arrow-l {
  0% {
    left: 25%;
  }
  50% {
    left: 28%;
  }
  100% {
    left: 25%;
  }
}
@keyframes gide-arrow-l {
  0% {
    left: 25%;
  }
  50% {
    left: 28%;
  }
  100% {
    left: 25%;
  }
}
@-webkit-keyframes gide-arrow-r {
  0% {
    left: 75%;
  }
  50% {
    left: 72%;
  }
  100% {
    left: 75%;
  }
}
@keyframes gide-arrow-r {
  0% {
    left: 75%;
  }
  50% {
    left: 72%;
  }
  100% {
    left: 75%;
  }
}
@-webkit-keyframes bgScale {
  0% {
    -webkit-transform: scaleY(1) translateY(0%) translateX(-50%) rotate3d(0);
            transform: scaleY(1) translateY(0%) translateX(-50%) rotate3d(0);
  }
  50% {
    -webkit-transform: scaleY(1.02) translateY(-0.5%) translateX(-50%) rotate3d(1, 1, 1, 0.1deg);
            transform: scaleY(1.02) translateY(-0.5%) translateX(-50%) rotate3d(1, 1, 1, 0.1deg);
  }
  100% {
    -webkit-transform: scaleY(1) translateX(-50%) rotate3d(0);
            transform: scaleY(1) translateX(-50%) rotate3d(0);
  }
}
@keyframes bgScale {
  0% {
    -webkit-transform: scaleY(1) translateY(0%) translateX(-50%) rotate3d(0);
            transform: scaleY(1) translateY(0%) translateX(-50%) rotate3d(0);
  }
  50% {
    -webkit-transform: scaleY(1.02) translateY(-0.5%) translateX(-50%) rotate3d(1, 1, 1, 0.1deg);
            transform: scaleY(1.02) translateY(-0.5%) translateX(-50%) rotate3d(1, 1, 1, 0.1deg);
  }
  100% {
    -webkit-transform: scaleY(1) translateX(-50%) rotate3d(0);
            transform: scaleY(1) translateX(-50%) rotate3d(0);
  }
}
@-webkit-keyframes bgblur {
  0% {
    -webkit-filter: blur(0.938rem);
            filter: blur(0.938rem);
    top: -9.375rem;
  }
  80% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    top: 0;
  }
}
@keyframes bgblur {
  0% {
    -webkit-filter: blur(0.938rem);
            filter: blur(0.938rem);
    top: -9.375rem;
  }
  80% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    top: 0;
  }
}
/* Media Query */
@media (min-width: 768px) {
  .main_wrap .bg {
    background-image: url(../images/bg_tablet_main.jpg);
    background-size: contain;
    -webkit-animation: bgScale 3s ease-in-out infinite alternate-reverse, bgblur 4s linear;
            animation: bgScale 3s ease-in-out infinite alternate-reverse, bgblur 4s linear;
  }
  .main_wrap .div-cont .visual-con .visual-txt h2 {
    font-size: 3.563rem;
    margin: 0.5rem 0;
  }
  .main_wrap .div-cont .visual-con .visual-txt p {
    font-size: 1.5rem;
  }
  /* main 가이드*/
  @-webkit-keyframes gide-hand {
    0% {
      -webkit-transform: translateX(-80%) rotate(0deg) scale(100%);
              transform: translateX(-80%) rotate(0deg) scale(100%);
    }
    50% {
      -webkit-transform: translateX(-30%) rotate(5deg) scale(85%);
              transform: translateX(-30%) rotate(5deg) scale(85%);
      opacity: 0%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      -webkit-transform: translateX(-80%) rotate(0deg) scale(100%);
              transform: translateX(-80%) rotate(0deg) scale(100%);
      opacity: 100%;
    }
  }
  @keyframes gide-hand {
    0% {
      -webkit-transform: translateX(-80%) rotate(0deg) scale(100%);
              transform: translateX(-80%) rotate(0deg) scale(100%);
    }
    50% {
      -webkit-transform: translateX(-30%) rotate(5deg) scale(85%);
              transform: translateX(-30%) rotate(5deg) scale(85%);
      opacity: 0%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      -webkit-transform: translateX(-80%) rotate(0deg) scale(100%);
              transform: translateX(-80%) rotate(0deg) scale(100%);
      opacity: 100%;
    }
  }
}
@media (min-width: 1200px) {
  .main_wrap .bg {
    max-width: 1440px;
    background-image: url(../images/bg_pc_main.jpg);
    background-size: cover;
  }
  .main_wrap .div-cont .visual-con .visual-txt {
    padding-top: 9.375rem;
  }
}
/* ===========================
page About 
==============================*/
#page-about .sub-tit {
  background-image: url(../images/sub_top_visual01.jpg);
}
#page-about .sub-body .sub-con .content .con01 .profil {
  position: relative;
}
#page-about .sub-body .sub-con .content .con01 .profil .name {
  position: absolute;
  top: 9.375rem;
  left: 50%;
  -webkit-transform: translateX(-180%);
          transform: translateX(-180%);
}
#page-about .sub-body .sub-con .content .con01 .profil .name span {
  display: block;
  width: 5rem;
  font-size: 1.125rem;
  text-align: right;
  line-height: 140%;
}
#page-about .sub-body .sub-con .content .con01 .profil .photo {
  width: 21.188rem;
  height: 22rem;
  margin: 0 auto;
  background-image: url(../images/profile_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#page-about .sub-body .sub-con .content .con01 .about-text h2 {
  font-size: 3rem;
  margin: 2.5rem 0 2rem 0;
}
#page-about .sub-body .sub-con .content .con01 .about-text button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  border-radius: 3.125rem;
  padding: 0.75rem 0;
  margin-top: 3.125rem;
  background-color: #7900EC;
}
#page-about .sub-body .sub-con .content .con01 .about-text button span {
  margin-right: 0.5rem;
}
#page-about .sub-body .sub-con .content .con02 {
  margin-top: 1.25rem;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap .tech-box h2 {
  font-weight: 300;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap .tech-box h2 b {
  font-weight: 500;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap .tech-box .tech-explain {
  border-top: 1px solid #1F1F1F;
  margin-top: 1.75rem;
  padding-top: 1.75rem;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap .tech-box .tech-explain li {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  margin-bottom: 1rem;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap .tech-box .tech-explain li i {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/svg/list-bullet.svg);
  background-position-y: -0.063rem;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap .tech-box .tech-explain li span {
  line-height: 1.5;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap .tech-box .tech-icon {
  margin-top: 1.5rem;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap .tech-box .tech-icon span {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.75rem 0.75rem 0 0;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(1).tech-box .tech-icon span:nth-child(1) {
  background-image: url(../images/svg/skill-icons_html5.svg);
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(1).tech-box .tech-icon span:nth-child(2) {
  background-image: url(../images/svg/skill-icons_css3.svg);
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(1).tech-box .tech-icon span:nth-child(3) {
  background-image: url(../images/svg/skill-icons_javascript.svg);
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(1).tech-box .tech-icon span:nth-child(4) {
  background-image: url(../images/svg/skill-icons_scss2.svg);
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(1).tech-box .tech-icon span:nth-child(5) {
  background-image: url(../images/svg/skill-icons_jquery.svg);
  width: 9.901rem;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(1).tech-box .tech-icon span:nth-child(6) {
  background-image: url(../images/svg/skill-icons_github_big.svg);
  width: 2.619rem;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(1).tech-box .tech-icon span:nth-child(7) {
  background-image: url(../images/svg/skill-icons_bootstrap.svg);
  width: 3.138rem;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(2).tech-box {
  margin-top: 4rem;
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(2).tech-box .tech-icon span:nth-child(1) {
  background-image: url(../images/svg/skill-icons_photoshop.svg);
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(2).tech-box .tech-icon span:nth-child(2) {
  background-image: url(../images/svg/skill-icons_illustrator.svg);
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(2).tech-box .tech-icon span:nth-child(3) {
  background-image: url(../images/svg/skill-icons_premiere.svg);
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(2).tech-box .tech-icon span:nth-child(4) {
  background-image: url(../images/svg/skill-icons_xd.svg);
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(2).tech-box .tech-icon span:nth-child(5) {
  background-image: url(../images/svg/skill-icons_figma-dark.svg);
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(2).tech-box .tech-icon span:nth-child(6) {
  background-image: url(../images/svg/skill-icons_canvar.svg);
}
#page-about .sub-body .sub-con .content .con02 .tech-wrap li:nth-child(2).tech-box .tech-icon span:nth-child(7) {
  background-image: url(../images/svg/skill-icons_zeplin.svg);
  width: 3.122rem;
}

@media (min-width: 768px) {
  #page-about .div-cont .sub-body nav .tab-list .tab:nth-child(1) span::before {
    background-image: url(../images/svg/tab_about-me.svg);
  }
  #page-about .div-cont .sub-body nav .tab-list .tab:nth-child(2) span::before {
    background-image: url(../images/svg/tab_tech-stack.svg);
  }
  #page-about .div-cont .sub-body .content .con01 .profil .name {
    top: 7.5rem;
    left: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  #page-about .div-cont .sub-body .content .con01 .profil .name span {
    width: 6.563rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 120%;
  }
  #page-about .div-cont .sub-body .content .con01 .profil .photo {
    width: 36.725rem;
    height: 27.5rem;
    background-image: url(../images/pc_profile_photo.png);
  }
  #page-about .div-cont .sub-body .content .con01 .about-text h2 {
    text-align: center;
  }
  #page-about .div-cont .sub-body .content .con01 .about-text p {
    font-size: 1.125rem;
    text-align: center;
    line-height: 150%;
    max-width: 37.5rem;
    margin: 0 auto;
  }
  #page-about .div-cont .sub-body .content .con01 .about-text button {
    font-size: 1rem;
  }
  #page-about .div-cont .sub-body .content .con02 .tech-wrap .tech-box .tech-explain {
    max-width: 50rem;
  }
  #page-about .div-cont .sub-body .content .con02 .tech-wrap .tech-box .tech-explain li span {
    font-size: 1.125rem;
  }
  #page-about .div-cont .sub-body .content .con02 .tech-wrap .tech-box .tech-icon {
    margin-top: 1.75rem;
  }
  #page-about .div-cont .sub-body .content .con02 .tech-wrap li:nth-child(2).tech-box {
    margin-top: 7.5rem;
  }
}
@media (min-width: 1200px) {
  #page-about .sub-tit {
    background-image: url(../images/pc_sub_top_visual01.jpg);
  }
  #page-about .div-cont .sub-body .content {
    padding: 4.5rem 0.625rem 0;
  }
  #page-about .div-cont .sub-body .content .con01 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #page-about .div-cont .sub-body .content .con01 .about-text {
    padding-left: 4rem;
  }
  #page-about .div-cont .sub-body .content .con01 .about-text h2 {
    text-align: left;
    margin: 2.5rem 0 2rem 0;
  }
  #page-about .div-cont .sub-body .content .con01 .about-text p {
    text-align: left;
    max-width: 26.875rem;
    margin: 0;
  }
  #page-about .div-cont .sub-body .content .con01 .about-text button {
    width: 13.75rem;
    padding: 1rem 0;
    margin-top: 3.125rem;
    background-color: #7900EC;
  }
  #page-about .div-cont .sub-body .content .con01 .about-text button span {
    margin-right: 0.5rem;
  }
  #page-about .div-cont .sub-body .content .con02 {
    margin-top: 1.75rem;
  }
  #page-about .div-cont .sub-body .content .con02 .tech-wrap .tech-box {
    display: grid;
    grid-template-columns: 1fr 1.9fr;
    margin-top: 1.75rem;
  }
  #page-about .div-cont .sub-body .content .con02 .tech-wrap .tech-box .tech-explain {
    margin-top: 0;
  }
}
/* ===========================
page Work 
==============================*/
#page-work .sub-tit {
  background-image: url(../images/sub_top_visual02.jpg);
}
#page-work .div-cont .sub-body .content .title-wrap {
  margin: 1.25rem 0 3.125rem 0;
  text-align: center;
}
#page-work .div-cont .sub-body .content .title-wrap span {
  display: block;
  font-size: 1.125rem;
  margin-top: 0.5rem;
}
#page-work .div-cont .sub-body .content .work-slider {
  position: relative;
  padding: 4.5rem 0 3.125rem 0;
  margin-bottom: 500px;
}
#page-work .div-cont .sub-body .content .work-slider::before, #page-work .div-cont .sub-body .content .work-slider::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: cover;
}
#page-work .div-cont .sub-body .content .work-slider::before {
  top: 0;
  width: 2.188rem;
  height: 22.188rem;
  background-image: url(../images/svg/center_line.svg);
}
#page-work .div-cont .sub-body .content .work-slider .swiper-slide {
  height: 240px !important;
}
#page-work .div-cont .sub-body .content .work-slider .swiper-slide .img-box {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#page-work .div-cont .sub-body .content .work-slider .swiper-slide .text-box {
  opacity: 0;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
}
#page-work .div-cont .sub-body .content .work-slider .swiper-slide:nth-child(1) .img-box {
  background-image: url(../images/pc_work-responsive01.jpg);
}
#page-work .div-cont .sub-body .content .work-slider .swiper-slide:nth-child(2) .img-box {
  background-color: rebeccapurple;
}
#page-work .div-cont .sub-body .content .work-slider .swiper-slide:nth-child(3) .img-box {
  background-color: goldenrod;
}
#page-work .div-cont .sub-body .content .work-slider .swiper-slide-active .text-box {
  opacity: 1;
}
#page-work .div-cont .sub-body .content .work-slider .work-pagination {
  position: absolute;
  z-index: 1;
}
#page-work .div-cont .sub-body .content .work-slider .work-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
#page-work .div-cont .sub-body .content .work-slider .work-pagination .swiper-pagination-bullet-active {
  color: #fff;
  background: #7900EC;
}

@media (min-width: 768px) {
  #page-work .sub-tit {
    background-image: url(../images/pc_sub_top_visual02.jpg);
  }
  #page-work .div-cont .sub-body nav .tab-list .tab:nth-child(1) span::before {
    background-image: url(../images/svg/tab_responsive.svg);
  }
  #page-work .div-cont .sub-body nav .tab-list .tab:nth-child(2) span::before {
    background-image: url(../images/svg/tab_web.svg);
  }
  #page-work .div-cont .sub-body nav .tab-list .tab:nth-child(3) span::before {
    background-image: url(../images/svg/tab_mobile.svg);
  }
}
/* ===========================
page Design 
==============================*/
/* ===========================
page Contact 
==============================*/