/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
/* font */
// 최상위 부터의 경로로 올려야 git url에서 문제 없이 나옴
// 대부분의 최신 웹 브라우저에서 지원되는 woff와 ttf 개선으로 나온 많은 운영체제에서 지원이 되는 otf로 폰트 설정
@font-face {
  font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
  url('/fonts/Pretendard-Bold.woff2') format('woff2'), 
  url('/fonts/Pretendard-Bold.woff') format('woff'),
  url('/fonts/Pretendard-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'), 
  url('/fonts/Pretendard-SemiBold.woff2') format('woff2'), 
  url('/fonts/Pretendard-SemiBold.woff') format('woff'),
  url('/fonts/Pretendard-SemiBold.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), 
  url('/fonts/Pretendard-Medium.woff2') format('woff2'), 
  url('/fonts/Pretendard-Medium.woff') format('woff'),
  url('/fonts/Pretendard-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
  url('/fonts/Pretendard-Regular.woff2') format('woff2'), 
  url('/fonts/Pretendard-Regular.woff') format('woff'),
  url('/fonts/Pretendard-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), 
  url('/fonts/Pretendard-Light.woff2') format('woff2'), 
  url('/fonts/Pretendard-Light.woff') format('woff'),
  url('/fonts/Pretendard-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), 
  url('/fonts/Pretendard-Thin.woff2') format('woff2'), 
  url('/fonts/Pretendard-Thin.woff') format('woff'),
  url('/fonts/Pretendard-Thin.otf') format('opentype');
}
/* Mobile */
h1 {
  font-size: map-get($font_size_mobile, h1);
  font-weight: map-get($font_wight, light);
}
h2{
  font-size: map-get($font_size_mobile, h2);
}
h3{
  font-size: map-get($font_size_mobile, h3_ko);
  font-weight: map-get($font_wight, bold);
}
h4{
  font-size: map-get($font_size_mobile, h4); 
}
h2, h3, h4 {
  line-height: 1.2em;
}
button,h2,h4{
  font-weight: map-get($font_wight, medium);
}
h1, button {
  line-height: 100%;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1366px) {
  
}

/* PC */
@media (min-width: 768px) {
  h1 {
    font-size: map-get($font_size_pc, h1);
    font-weight: map-get($font_wight, thin);
  }
  h2{
    font-size: map-get($font_size_pc, h2);
  }
  h3{
    font-size: map-get($font_size_pc, h3_ko);
    font-weight: map-get($font_wight, semibold);
  }
  h4{
    font-size: map-get($font_size_pc, h4); 
  }
}