/* font */
// @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
/* font */
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard SemiBold'), 
  url('/Fonts/Pretendard-SemiBold.woff2') format('woff2'), 
  url('/Fonts/Pretendard-SemiBold.woff') format('woff'),
  url('/Fonts/Pretendard-SemiBold.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard Bold'), 
  url('/Fonts/Pretendard-Bold.woff2') format('woff2'), 
  url('/Fonts/Pretendard-Bold.woff') format('woff'),
  url('/Fonts/Pretendard-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), 
  url('/Fonts/Pretendard-Medium.woff2') format('woff2'), 
  url('/Fonts/Pretendard-Medium.woff') format('woff'),
  url('/Fonts/Pretendard-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
  url('/Fonts/Pretendard-Regular.woff2') format('woff2'), 
  url('/Fonts/Pretendard-Regular.woff') format('woff'),
  url('/Fonts/Pretendard-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), 
  url('/Fonts/Pretendard-Light.woff2') format('woff2'), 
  url('/Fonts/Pretendard-Light.woff') format('woff'),
  url('/Fonts/Pretendard-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), 
  url('/Fonts/Pretendard-Thin.woff2') format('woff2'), 
  url('/Fonts/Pretendard-Thin.woff') format('woff'),
  url('/Fonts/Pretendard-Thin.otf') format('opentype');
}
/* Mobile */

/* Tablet */
@media (min-width: 768px) and (max-width: 1366px) {
  
}

/* PC */
@media (min-width: 1366px) {
  h1 {
    font-size: 6.875rem;
    font-weight: 100;
    letter-spacing: 1.1em;
  }
  h1, button {
    line-height: 100%;
  }
  h2, h3, h4 {
    line-height: 120em;
  }
  h2{
    font-size: 3.125rem;
  }
  h2.ko{
    font-size: 3.125rem;
  }
  h3{
    font-size: 3rem;
  }
  h4{

  }
  p {
  
  }
}