@mixin icon {
  content: '';
  display: inline-block;
  width: map-get($size, px_24);
  height: map-get($size, px_24);
}

@mixin logo {
  font-weight: map-get($font_wight, medium);
  text-transform: uppercase;
  letter-spacing: -0.313rem;
  text-shadow: 0 0.313rem 0.313rem #fff;
}
@mixin logo_m {
  font-size: map-get($font_size_pc, h4_ko);
  font-weight: map-get($font_wight, semibold);
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  text-shadow: 0.313rem 0.188rem 0.563rem #fff;
  line-height: map-get($size, px_28);
}
@mixin logo_s {
  font-size: map-get($font_size_mobile, h4_ko);
  font-weight: map-get($font_wight, medium);
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  text-shadow: 0.313rem 0.188rem 0.563rem #fff;
  line-height: map-get($size, px_28);
}
@mixin svg_light {
  width: map-get($size, px_24);
  height: map-get($size, px_24);
  path {
    fill: map-get($color, text);
  }
}
@mixin svg_dark {
  width: map-get($size, px_24);
  height: map-get($size, px_24);
  path {
    fill: map-get($color, dark-text);
  }
}
@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin normal_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: map-get($font_size_mobile, btn_md);
  color: #fff;
  width: 100%;
  border-radius: map-get($size, px_50);
  padding:0.75rem 0;
  margin-top: map-get($size, px_50);
  background-color: map-get($color, primary-point);
}
@mixin pc_normal_button {
  width: 13.75rem;
  padding:1rem 0;
  margin-top: map-get($size, px_50);
  background-color: map-get($color, primary-point);
}