* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
/* Sikp Navigation */
.skipNavi {
  height: 0;
  .skipLink {
    position: absolute;
    top: -1000px;
    left: -1000px;
    overflow: hidden;
    z-index: 9000;
    &:focus, &:active {
      top: 0;
      left: 0;
      padding: 10px 20px;
      background: #1e64ba;
      color: #fff;
    }
  }
}

/* common hidden */ 
.hidden {
  display: none;
}
.blind, table caption {
  width:1px;
  height: 1px; 
  overflow: hidden;
  position: absolute;
  top:-9999em;
  left: -9999em;
  display: block;
  text-indent: -9999em;
  font-size: 0;
  line-height: 0;
}