@import "reset";
@import "variable";
@import "mixin";
@import "common";
@import "layout";


/* sub-page Main */
.main_wrap {
  background-color: #fdfdfd;
  width:100%;
  z-index: 2;
  .bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_mobile_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fdfdfd;
    animation:bgScale 3s 6s ease-in-out infinite alternate-reverse,
    bgblur 5s linear;
    z-index: -1;
  }
  .div-cont{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .main-con{
      height: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      .visual-txt{
        text-align: center;
        h1 {
          @include logo;
        }
        h2 {
          text-transform: uppercase;
          font-weight: map-get($font_wight, light);
        }
        p {
          font-size: map-get($font_size_mobile, body_lg);
          font-weight: map-get($font_wight, medium);
        }
        .gide {
          position: relative;
          margin-top: 40px;
          height: 60px;
          &:after {
            content: '왼쪽으로 쓸어 넘기세요.';
            font-size: map-get($font_size_pc, body_sm );
            position: absolute;
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);
            opacity: 0;
            transition: 0.35s;
          }
          &:hover:after {
            opacity: 1;
            bottom: -8px;
          }
          i {
            position: absolute;
            transform: translateX(-50%);
          }
          .l {
            left: 25%;
            animation: gide-arrow-l 2s 6s linear infinite;
            span {
              @include icon;
              background: url(../images/svg/arrow_l_02.svg) no-repeat;
            }
          }
          .R {
            left: 75%;
            animation: gide-arrow-r  2s 6s linear infinite;
            span {
              @include icon;
              background: url(../images/svg/arrow_r_02.svg) no-repeat;
            }
          }
          .hand {
            top:-10px;
            left: 51%;
            content: '';
            display: inline-block;
            width: 54px;
            height: 54px;
            background: url(../images/svg/swiper.svg) no-repeat;
            background-size: 124%;
            background-position: -5px 0;
            animation:gide-hand 2s 6s linear infinite,
            gide-hand-op 2s linear 12 ;
            transition: 0.35s;
            opacity: 3%;
          }
        }
      }
    }
  }
}
@keyframes gide-hand {
  0% {
    transform: translateX(-80%) rotate(0deg) scale(84%);
  }
  50% {
    transform:translateX(-30%) rotate(5deg) scale(75%);
    opacity: 0;
  }
  80%{
    opacity: 100%;
  }
  100%{
    transform:translateX(-80%) rotate(0deg) scale(84%);
    opacity: 100%;
  }
} 
@keyframes gide-arrow-l {
  0% {
    left: 25%;
  }
  50% {
    left: 28%;
  }
  100%{
    left: 25%;
  }
} 
@keyframes gide-arrow-r {
  0% {
    left: 75%;
  }
  50% {
    left: 72%;
  }
  100%{
    left: 75%;
  }
} 
@keyframes bgScale {
  0% {
    transform: scaleY(1) translateY(0%) translateX(-50%) rotate3d(0);
  }
  50% {
    transform: scaleY(1.02) translateY(-0.5%) translateX(-50%) rotate3d(1, 1, 1, 0.1deg);
  }
  100% {
    transform: scaleY(1) translateX(-50%) rotate3d(0);
  }
}
@keyframes bgblur {
  0% {
    filter: blur(15px);
    top:-150px;
  }
  80% {
    filter: blur(0);
  }
  100% {
    filter: blur(0);
    top:0;
  }
}


/* Media Query */
@media (min-width: 768px){
  .main_wrap {
    .bg {
      background-image: url(../images/bg_tablet_main.jpg);
      background-size: contain;
      animation:bgScale 3s ease-in-out infinite alternate-reverse,
              bgblur 4s linear;
    }
    .div-cont {
      .main-con{
        .visual-txt {
          h2 {
            font-size: 57px;
            margin:8px 0;
          }
          p {
            font-size: map-get($font_size_pc, h4);
          }
        }
      }
    }
  }

  /* main 가이드*/
  @keyframes gide-hand {
    0% {
      transform: translateX(-80%) rotate(0deg) scale(100%);
    }
    50% {
      transform:translateX(-30%) rotate(5deg) scale(85%);
      opacity: 0%;
    }
    80%{
      opacity: 100%;
    }
    100%{
      transform:translateX(-80%) rotate(0deg) scale(100%);
      opacity: 100%;
    }
  } 
}
@media (min-width: 1200px) {
  .main_wrap {
    .bg {
      max-width: 1440px;
      background-image: url(../images/bg_pc_main.jpg);
      background-size: cover;
    }
    .div-cont {
      width: 1200px;
      margin:0 auto;
      .main-con {
        .visual-txt {
          padding-top: 150px;
        }
      }
    }
  }
}


