@import "reset";
@import "variable";
@import "mixin";
@import "common";
@import "layout";


/* ===========================
page Main 
============================= */
.main_wrap {
  background-color: #fdfdfd;
  width:100%;
  z-index: 2;
  .bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_mobile_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fdfdfd;
    animation:bgScale 3s 3s ease-in-out infinite alternate-reverse,
    bgblur 4s linear;
    z-index: -1;
  }
  .div-cont{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .visual-con{
      height: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      .visual-txt{
        text-align: center;
        h1 {
          @include logo;
        }
        h2 {
          text-transform: uppercase;
          font-weight: map-get($font_wight, light);
        }
        p {
          font-size: map-get($font_size_mobile, body_lg);
          font-weight: map-get($font_wight, medium);
        }
        .gide {
          position: relative;
          margin-top: map-get($size, px_40);
          height: 3.75rem;
          &:after {
            content: '왼쪽으로 쓸어 넘기세요.';
            font-size: map-get($font_size_pc, body_sm );
            position: absolute;
            left: 50%;
            bottom: 0.625rem;
            transform: translateX(-50%);
            opacity: 0;
            transition: 0.35s;
          }
          &:hover:after {
            opacity: 1;
            bottom: -0.5rem;
          }
          i {
            position: absolute;
            transform: translateX(-50%);
          }
          .l {
            left: 25%;
            animation: gide-arrow-l 2s 3s linear infinite;
            span {
              @include icon;
              background: url(../images/svg/arrow_l_02.svg) no-repeat;
            }
          }
          .R {
            left: 75%;
            animation: gide-arrow-r  2s 3s linear infinite;
            span {
              @include icon;
              background: url(../images/svg/arrow_r_02.svg) no-repeat;
            }
          }
          .hand {
            top:-10px;
            left: 51%;
            content: '';
            display: inline-block;
            width: 3.375rem;
            height: 3.375rem;
            background: url(../images/svg/swiper.svg) no-repeat;
            background-size: 124%;
            background-position: -0.313rem 0;
            animation:gide-hand 2s 3s linear infinite,
            gide-hand-op 2s linear 12 ;
            transition: 0.35s;
            opacity: 3%;
          }
        }
      }
    }
  }
}
@keyframes gide-hand {
  0% {
    transform: translateX(-80%) rotate(0deg) scale(84%);
  }
  50% {
    transform:translateX(-30%) rotate(5deg) scale(75%);
    opacity: 0;
  }
  80%{
    opacity: 100%;
  }
  100%{
    transform:translateX(-80%) rotate(0deg) scale(84%);
    opacity: 100%;
  }
} 
@keyframes gide-arrow-l {
  0% {
    left: 25%;
  }
  50% {
    left: 28%;
  }
  100%{
    left: 25%;
  }
} 
@keyframes gide-arrow-r {
  0% {
    left: 75%;
  }
  50% {
    left: 72%;
  }
  100%{
    left: 75%;
  }
} 
@keyframes bgScale {
  0% {
    transform: scaleY(1) translateY(0%) translateX(-50%) rotate3d(0);
  }
  50% {
    transform: scaleY(1.02) translateY(-0.5%) translateX(-50%) rotate3d(1, 1, 1, 0.1deg);
  }
  100% {
    transform: scaleY(1) translateX(-50%) rotate3d(0);
  }
}
@keyframes bgblur {
  0% {
    filter: blur(0.938rem);
    top:-9.375rem;
  }
  80% {
    filter: blur(0);
  }
  100% {
    filter: blur(0);
    top:0;
  }
}

.container.dark {
  .main_wrap {
    background-color: map-get($color, dark-bg);
    .bg {
      background-image: url(../images/dark_bg_mobile_main.jpg);
      background-color: map-get($color, dark-bg);
    }
    .div-cont{
      .visual-con{
        .visual-txt{
          text-align: center;
          h1 {
            text-shadow: none;
          }
          .gide {
            .l {
              span {
                background: url(../images/svg/dark-arrow_l_02.svg) no-repeat;
              }
            }
            .R {
              span {
                background: url(../images/svg/dark-arrow_r_02.svg) no-repeat;
              }
            }
            .hand {
              background: url(../images/svg/dark-swiper.svg) no-repeat;
              background-position: -0.313rem -0.313rem;
            }
          }
        }
      }
    }
  }
}

/* Media Query */
@media (min-width: 768px){
  .main_wrap {
    .bg {
      background-image: url(../images/bg_tablet_main.jpg);
      background-size: contain;
      animation:bgScale 3s ease-in-out infinite alternate-reverse,
              bgblur 4s linear;
    }
    .div-cont {
      .visual-con{
        .visual-txt {
          h2 {
            font-size: 3.563rem;
            margin:map-get($size, px_8 ) 0;
          }
          p {
            font-size: map-get($font_size_pc, h4);
          }
        }
      }
    }
  }
  .container.dark {
    .main_wrap {
      .bg {
        background-image: url(../images/dark_bg_tablet_main.jpg);
      }
    }
  }    
  /* main 가이드*/
  @keyframes gide-hand {
    0% {
      transform: translateX(-80%) rotate(0deg) scale(100%);
    }
    50% {
      transform:translateX(-30%) rotate(5deg) scale(85%);
      opacity: 0%;
    }
    80%{
      opacity: 100%;
    }
    100%{
      transform:translateX(-80%) rotate(0deg) scale(100%);
      opacity: 100%;
    }
  } 
}
@media (min-width: 1200px) {
  .main_wrap {
    .bg {
      max-width: 1440px;
      background-image: url(../images/bg_pc_main.jpg);
      background-size: cover;
    }
    .div-cont {
      .visual-con {
        .visual-txt {
          padding-top: 9.375rem;
        }
      }
    }
  }
  /* Dark Mode */
  .container.dark {
    .main_wrap {
      .bg {
        background-image: url(../images/dark_bg_pc_main.jpg);
      }
    }
  }    
}

/* ===========================
page About 
==============================*/
#page-about {
  .sub-tit {
    background-image: url(../images/sub_top_visual01.jpg);
  }
  .sub-body {
    .sub-con {
      .content {
        .con01 {
          .profil {
            position: relative;
            .name {
              position: absolute;
              top: 9.375rem;
              left: 50%;
              transform: translateX(-180%);
              span{
                display: block;
                width: map-get($size, px_80);
                font-size: map-get($font_size_mobile, body_lg);
                text-align: right;
                line-height: 140%;
              }
            }
            .photo {
              width: 21.188rem;
              height: 22rem;
              margin:0 auto;
              background-image: url(../images/profile_photo.png);
              @include background;
            }
          }
          .about-text {
            h2 {
              font-size: map-get($font_size_pc, h2_ko);
              margin: map-get($size, px_40) 0  map-get($size, px_32)  0;
            }
            button {
              @include normal_button;
              span {
                margin-right: map-get($size, px_8);
              }
            }
          }
        }
        .con02 {
          margin-top: map-get($size, px_20 );
          .tech-wrap {
            .tech-box {
              h2 {
                font-weight: map-get($font_wight, light);
                b {
                  font-weight: map-get($font_wight, medium);
                }
              }
              .tech-explain {
                border-top: 1px solid map-get($color, text);
                margin-top: map-get($size, px_28);
                padding-top: map-get($size, px_28);
                li {
                  display: grid;
                  grid-template-columns: map-get($size, px_24) 1fr;
                  margin-bottom: map-get($size, px_16);
                  i {
                    @include icon;
                    background-image: url(../images/svg/list-bullet.svg);
                    background-position-y: -0.063rem;
                  }
                  span {
                    line-height: 1.5;
                  }
                }
              }
              .tech-icon {
                margin-top: map-get($size, px_24);
                span{
                  display: inline-block;
                  width: map-get($size, px_40);    
                  height: map-get($size, px_40);
                  @include background;
                  margin: 0.75rem 0.75rem 0 0;    
                }
              }  
            }
            li:nth-child(1).tech-box {
              .tech-icon {
                span:nth-child(1){
                  background-image: url(../images/svg/skill-icons_html5.svg);
                }
                span:nth-child(2){
                  background-image: url(../images/svg/skill-icons_css3.svg);
                }
                span:nth-child(3){
                  background-image: url(../images/svg/skill-icons_javascript.svg);
                }
                span:nth-child(4){
                  background-image: url(../images/svg/skill-icons_scss2.svg);
                }
                span:nth-child(5){
                  background-image: url(../images/svg/skill-icons_jquery.svg);
                  width: 9.901rem;
                }
                span:nth-child(6){
                  background-image: url(../images/svg/skill-icons_github_big.svg);
                  width: 2.619rem;
                }
                span:nth-child(7){
                  background-image: url(../images/svg/skill-icons_bootstrap.svg);
                  width: 3.138rem;
                }
              }
            }
            li:nth-child(2).tech-box {
              margin-top: map-get($size, px_64);
              .tech-icon {
                span:nth-child(1){
                  background-image: url(../images/svg/skill-icons_photoshop.svg);
                }
                span:nth-child(2){
                  background-image: url(../images/svg/skill-icons_illustrator.svg);
                }
                span:nth-child(3){
                  background-image: url(../images/svg/skill-icons_premiere.svg);
                }
                span:nth-child(4){
                  background-image: url(../images/svg/skill-icons_xd.svg);
                }
                span:nth-child(5){
                  background-image: url(../images/svg/skill-icons_figma-dark.svg);
                }
                span:nth-child(6){
                  background-image: url(../images/svg/skill-icons_canvar.svg);
                }
                span:nth-child(7){
                  background-image: url(../images/svg/skill-icons_zeplin.svg);
                  width: 3.122rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
.container.dark {
  #page-about {
    .sub-tit {
      background-image: url(../images/dark_sub_top_visual01.jpg);
    }
    .sub-body {
      .sub-con {
        .content {
          .con01 {
            .about-text {
              h2 {
                font-weight: map-get($font_wight, regular);
              }
            }
          }
          .con02 {
            margin-top: map-get($size, px_20 );
            .tech-wrap {
              .tech-box {
                h2 {
                  font-weight: map-get($font_wight, thin);
                  b {
                    font-weight: map-get($font_wight, regular);
                  }
                }
                .tech-explain {
                  border-top: 1px solid map-get($color, dark_text);
                  li {
                    i {
                      background-image: url(../images/svg/dark-list-bullet.svg);
                    }
                  }
                }
              }
              li:nth-child(1).tech-box {
                .tech-icon {
                  span:nth-child(5){
                    background-image: url(../images/svg/dark-skill-icons_jquery.svg);
                    width: 9.901rem;
                  }
                  span:nth-child(6){
                    background-image: url(../images/svg/dark-skill-icons_github_big.svg);
                    width: 2.619rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }  
}
@media (min-width:768px) {
  #page-about {
    .div-cont {
      .sub-body { 
        nav {
          .tab-list {
            .tab{
              &:nth-child(1) span::before {
                background-image: url(../images/svg/tab_about-me.svg);
              }
              &:nth-child(2) span::before {
                background-image: url(../images/svg/tab_tech-stack.svg);
              }
            }
          }
        }
        .content {
          .con01 {
            .profil {
              .name {
                top: map-get($size, px_120);
                left: 50%;
                transform: translateX(100%);
                span{
                  width: 6.563rem;
                  font-size: map-get($font_size_pc, h4);
                  font-weight: map-get($font_wight, medium);
                  line-height: 120%;
                }
              }
              .photo {
                width: 36.725rem;
                height: 27.5rem;
                background-image: url(../images/pc_profile_photo.png);
              }
            }
            .about-text {
              h2 {
                text-align: center;
              }
              p {
                font-size: map-get($font_size_pc, body_lg);
                text-align: center;
                line-height: 150%;
                max-width: 37.5rem;
                margin:0 auto;
              }
              button {
                font-size: map-get($font_size_pc, btn_sm);
              }
            }
          }
          .con02 {
            .tech-wrap {
              .tech-box {
                .tech-explain {
                  max-width: 50rem;
                  li {
                    span {
                      font-size: map-get($font_size_pc, body_lg);
                    }
                  }
                }
                .tech-icon {
                  margin-top: map-get($size, px_28);
                }  
              }
              li:nth-child(2).tech-box {
                margin-top: map-get($size, px_120);
              }
            }
          }
        }
      }   
    }  
  }
  .container.dark {
    #page-about {
      .div-cont {
        .sub-body { 
          nav {
            .tab-list {
              .tab{
                &:nth-child(1) span::before {
                  background-image: url(../images/svg/dark-about-me.svg);
                }
                &:nth-child(2) span::before {
                  background-image: url(../images/svg/dark-tech-stack.svg);
                }
              }
            }
          }
        }
      }
    }      
  }
} //min-width:768px
@media (min-width: 1200px) {
  #page-about {
    .sub-tit {
      background-image: url(../images/pc_sub_top_visual01.jpg);
    }
    .div-cont {
      .sub-body { 
        .content {
          padding: map-get($size , px_72) 0.625rem 0;
          .con01 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .about-text {
              padding-left: map-get($size, px_64);
              h2 {
                text-align: left;
                margin: map-get($size, px_40) 0  map-get($size, px_32)  0;
              }
              p {
                text-align: left;
                max-width: 26.875rem;
                margin:0;
              }
              button {
                @include pc_normal_button;
              }
            }
          }
          .con02 {
            margin-top: map-get($size, px_28);
            .tech-wrap {
              .tech-box {
                display: grid;
                grid-template-columns: 1fr 1.9fr;
                margin-top: map-get($size, px_28);
                .tech-explain {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }   
    }  
  }
  .container.dark {
    #page-about {
      .sub-tit {
        background-image: url(../images/dark_pc_sub_top_visual01.jpg);
      }
    }  
  }  
} //min-width: 1200px

/* ===========================
page Work 
==============================*/
#page-work {
  .sub-tit {
    background-image: url(../images/sub_top_visual02.jpg);
  }
  .div-cont {
    .sub-body {
      .content {
        .title-wrap{
          margin: map-get($size, px_20) 0 map-get($size, px_50) 0;
          text-align: center;
          h3 {
            font-weight: map-get($size, medium);
          }
          span {
            display: block;
            font-size: map-get($font_size_pc, body_lg);
            margin-top: map-get($size, px_8);
          }
        }
        .work-slider {
          position:relative;
          padding: map-get($size, px_72) 0 map-get($size, px_50) 0;
          margin-bottom: 38.75rem;
          // overflow:hidden;
          &::before, &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-58%);
            @include background;
          }
          &::before {
            top: 0;
            width: 2.188rem;
            height: 22.188rem;
            background-image: url(../images/svg/center_line.svg);
          }
          // &::after {
          //   bottom:0;
          //   width: 2.188rem;
          //   height: 8.75rem;
          //   background-image: url(../images/svg/center_line-buttom.svg);
          // }
          .swiper-slide {
            height: 240px !important;
            .text-box, .img-box {
              opacity: 0;
              transition: 0.35s;
            }
            .img-box {
              height: 100%;
              @include background;
            }
            .text-box {
              display: grid;
              gap: map-get($size, px_32);
              pointer-events: none;
              touch-action: none;
              max-width: 28.75rem;
              .project-title {
                span {
                  display: block;
                  font-size: map-get($font_size_mobile, body_lg);
                  margin: map-get($size, px_10) 0 map-get($size, px_20) 0;
                }
                .tag {
                  display: flex;
                  gap: map-get($size, px_8);
                  li {
                    font-size: map-get($font_size_mobile, body_sm);
                    color:map-get($color, primary);
                    padding: 0.375rem map-get($size, px_8);
                    border: 1px solid map-get($color, primary);
                    border-radius:map-get($size, px_20) ;
                  }
                }
              }
              .project-overview {
                p {
                  margin-top: map-get($size, px_10);
                }
              }
              .project-info {
                ul {
                  margin-top: map-get($size, px_10);
                  li {
                    display: flex;
                    gap: map-get($size, px_16);
                    margin-bottom: map-get($size, px_10);
                    b {
                      color: map-get($color, primary);
                      display: block;
                      min-width: map-get($size, px_64);
                    }
                    span {
                      font-weight: map-get($font_wight, medium);
                    }
                  }
                }
              }
              button {
                pointer-events: auto;
                touch-action: auto;
                @include normal_button;
                span {
                  margin-right: map-get($size, px_8);
                }
              }
            }
            &:nth-child(1) {
              .img-box {
                background-image: url(../images/pc_work-responsive01.jpg);
              }
            }
            &:nth-child(2) {
              .img-box {
                background-color: rebeccapurple;
              }
            }
            &:nth-child(3) {
              .img-box {
                background-color: goldenrod;
              }
            }
          }
          .swiper-slide-active {
            .img-box, .text-box  {
              opacity: 1;
            }
            .text-box {
              margin-top:80px;
            }
          }
          .work-pagination {
            position: absolute;
            z-index: 1;
            .swiper-pagination-bullet {
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              font-size: 12px;
              color:#000;
              opacity: 1;
              background: rgba(0,0,0,0.2);
            }
            .swiper-pagination-bullet-active {
              color:#fff;
              background: map-get($color, primary-point);
            }
          }
        }
      }
    }
  }
}
.container.dark {
  #page-work {
    .sub-tit {
      background-image: url(../images/dark_sub_top_visual02.jpg);
    }
    .div-cont {
      .sub-body {
        .content {
          .work-slider {
            .work-pagination {
              .swiper-pagination-bullet {
                background: #D9D9D9;
              }
              .swiper-pagination-bullet-active {
                color:#fff;
                background: map-get($color, primary-point);
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:768px) {
  #page-work {
    .sub-tit {
      background-image: url(../images/pc_sub_top_visual02.jpg);
    }
    .div-cont {
      .sub-body { 
        nav {
          .tab-list {
            .tab{
              &:nth-child(1) span::before {
                background-image: url(../images/svg/tab_responsive.svg);
              }
              &:nth-child(2) span::before {
                background-image: url(../images/svg/tab_web.svg);
              }
              &:nth-child(3) span::before {
                background-image: url(../images/svg/tab_mobile.svg);
              }
            }
          }
        }
      }
    }    
  }
  .container.dark {
    #page-work {
      .sub-tit {
        background-image: url(../images/dark_pc_sub_top_visual02.jpg);
      }
      .div-cont {
        .sub-body { 
          nav {
            .tab-list {
              .tab{
                &:nth-child(1) span::before {
                  background-image: url(../images/svg/dark-responsive.svg);
                }
                &:nth-child(2) span::before {
                  background-image: url(../images/svg/dark-web.svg);
                }
                &:nth-child(3) span::before {
                  background-image: url(../images/svg/dark-mobile.svg);
                }
              }
            }
          }
        }
      } 
    }
  }
}
// 필요없는 부분은 삭제 하면서 정리중
@media (min-width:1200px) {
  #page-work {
    .div-cont {
      .sub-body {
        .content {
          .work-slider {
            padding: 0;
            margin-bottom: 0;
            &::before {
              height: 47.938rem;
              background-image: url(../images/svg/pc_center_line.svg);
            }
            .swiper-slide {
              display: grid;
              grid-template-columns: 1fr 1fr;
              align-content: center;
              height: 47.938rem !important;
              .img-box {
                height: 28.125rem;
              }
              .text-box {
                pointer-events:auto;
                touch-action: auto;
                margin-left: map-get($size, px_40);
              }
            }
            .swiper-slide-active {
              .text-box {
                display: grid;
                align-items: center;
                margin-top:0;
                gap: map-get($size, px_32);
                .project-title {
                  span {
                    display: block;
                    font-size: map-get($font_size_mobile, body_lg);
                    margin: map-get($size, px_10) 0 map-get($size, px_20) 0;
                  }
                  .tag {
                    display: flex;
                    gap: map-get($size, px_8);
                    li {
                      font-size: map-get($font_size_mobile, body_sm);
                      color:map-get($color, primary);
                      padding: 0.375rem map-get($size, px_8);
                      border: 1px solid map-get($color, primary);
                      border-radius:map-get($size, px_20) ;
                    }
                  }
                }
                .project-overview {
                }
                .project-info {
                }
                button {
                  @include pc_normal_button;
                }
              }
            }
            .work-pagination {
              .swiper-pagination-bullet {
                width: map-get($size, px_10);
                height: map-get($size, px_10);
                line-height: 0;
                font-size: 0;
                color:transparent;
              }
              .swiper-pagination-bullet-active {
                color:transparent;
              }
            }
          }
        }
      }
    }
  }  
}
/* ===========================
page Design 
==============================*/
#page-design {
  .sub-tit {
    background-image: url(../images/sub_top_visual03.jpg);
  }
  .div-cont {
    .sub-body {
      .content {
        .design-list {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap:map-get($size, px_8);
          .design-item {
            position: relative;
            filter: grayscale(80%);
            transition: 0.3s ease;
            overflow: hidden;
            &:hover {
              border:0.063rem solid map-get($color, primary-point);
              border-radius: map-get($size, px_20);
              filter: grayscale(0);
              a {
                transform: scale(110%);
              }
            }
            &::before {
              position: absolute;
              right:  map-get($size, px_8);
              top:  map-get($size, px_8);
              content: '';
              width: map-get($size, px_16);
              height: map-get($size, px_16);
              @include background;
              background-image: url(../images/svg/more.svg);
            }
            &::after{
              display: block;
              content: '';
              padding-bottom: 100%;
            }
            .design-item-link {
              display: block;
              width: 100%;
              height: 100%;
              @include background;
              transition: 0.5s;
            }
            &:nth-child(1) .design-item-link {
              background-image: url(../images/desgin-item01.jpg);
            }
            &:nth-child(2) .design-item-link {
              background-image: url(../images/desgin-item02.jpg);
            }
            &:nth-child(3) .design-item-link {
              background-image: url(../images/desgin-item03.jpg);
            }
            &:nth-child(4) .design-item-link {
              background-image: url(../images/desgin-item04.jpg);
            }
            &:nth-child(5) .design-item-link {
              background-image: url(../images/desgin-item05.jpg);
            }
            &:nth-child(6) .design-item-link {
              background-image: url(../images/desgin-item06.jpg);
            }
            &:nth-child(7) .design-item-link {
              background-image: url(../images/desgin-item07.jpg);
            }
            &:nth-child(8) .design-item-link {
              background-image: url(../images/desgin-item08.jpg);
            }
            &:nth-child(9) .design-item-link {
              background-image: url(../images/desgin-item09.jpg);
            }
          }
        }
      }
    }
  }
}
.desgin-modal{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: map-get($size, px_8);
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 1.125rem;
  background-color: rgba(0,0,0,0.7);
  z-index: 999999;
  overflow:hidden;
  .desgin-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: map-get($size, px_40);
    height: map-get($size, px_40);
    border-radius: 50%;
    background-color: #e1e1e1;
    cursor: pointer;
    svg {
      width: map-get($size, px_24);
      height: map-get($size, px_24);
    }
  }
  .desgin-modal-inner {
    width: 100%;
    height: 70%;
    border-radius: map-get($size, px_10) 0 0 map-get($size, px_10);
    overflow: hidden;
    .inner-img{
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      img {
        width: 100%;
        border-radius: map-get($size, px_10);
      }
    }
  }
}
.container.modal {
  height: 100vh;
  overflow: hidden;
  .desgin-modal{
    display: flex;
  }
}
.container.dark {
  #page-design {
    .sub-tit {
      background-image: url(../images/dark_sub_top_visual03.jpg);
    }
  }
}  
@media (min-width:768px) {
  #page-design {
    .sub-tit {
      background-image: url(../images/pc_sub_top_visual03.jpg);
    }
    .div-cont {
      .sub-body {
        .content {
          margin:map-get($size, px_80) 0 map-get($size, px_10);
          .design-list {
            grid-template-columns: 1fr 1fr 1fr;
            .design-item {
              &::before {
                right:  map-get($size, px_16);
                top:  map-get($size, px_16);
                width: map-get($size, px_24);
                height: map-get($size, px_24);
              }
            }
          }
        }
      }
    }
  }
  .container.dark {
    #page-design {
      .sub-tit {
        background-image: url(../images/dark_pc_sub_top_visual03.jpg);
      }
    }
  }  
}
@media (min-width:1200px) {
  .desgin-modal{
    gap: map-get($size, px_28);
    padding: 0;
    .desgin-modal-inner {
      width: 72rem;
      height: 80%;
      .inner-img{
        img {
          max-width: 100%;
          border-radius: map-get($size, px_10);
        }
      }
    }
  }
}        
/* ===========================
page Contact 
==============================*/
#page-contact {
  height: 100vh;
  @include background;
  background-image: url(../images/bg_pc_contact.jpg);
  background-position: center;
  .div-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .sub-tit {
      margin-top: 0;
      padding-top: 4rem;
    }
    .tit-box {
      padding: 8.375em 0 7.5em 2em;
      h1 {
        text-transform: uppercase;
      }
      p {
        font-size: map-get($font_size_mobile, body_lg);
        margin-top: 0.5em;
      }
    }
    .btn-box {
      display: flex;
      flex-direction: column;
      gap:map-get($size, px_8);
      padding: 0 map-get($size, px_10);
      li{
        display: block;
        @include normal_button;
        margin:0;
        a {
          display: grid;
          justify-content: center;
          width: 100%;
          padding: 0 map-get($size, px_32);
          span {
            font-size: map-get($font_size_mobile, btn_md);
            line-height:map-get($size, px_24);
            i {
              display: block;
              width: map-get($size, px_24);
              height: map-get($size, px_24);
              @include background;
            }
            &:first-child {
              display: flex;
              gap:map-get($size, px_20);
            }
            &:last-child {
              display: none;
            }
          }
        }
        &:nth-child(1) {
          span {
            i {
              background-image: url(../images/svg/dark-mail.svg);
            }
          }
        }
        &:nth-child(2) {
          span {
            i {
              background-image: url(../images/svg/dark-github.svg);
            }
          }
        }
        &:nth-child(3) {
          span {
            i {
              background-image: url(../images/svg/dark-call.svg);
            }
          }
        }
      }
    }
  }
}
.container.dark {
  #page-contact {
    background-image: url(../images/dark_bg_pc_contact.jpg);
  }
}
@media (max-height:667px){
  #page-contact {
    .div-cont {
      .tit-box {
        padding: 8.375em 0 2em 2em;
      }
    }
  }
}
@media (min-width:768px){
  #page-contact {
    .div-cont {
      .tit-box {
        p {
          font-size: map-get($font_size_pc, h4_ko);
        }
      }
      .btn-box {
        li{
          width: 33.125rem;
          height: map-get($size, px_60);
          a {
            grid-template-columns: 1fr 3fr;
            gap:map-get($size, px_64);
            justify-content:center;
            span {
              &:first-child {
                font-size: map-get($font_size_pc, btn_md);
                width: 6rem;
              }
              &:last-child {
                font-size: map-get($font_size_pc, btn_md);
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:1200px){
  #page-contact {
    display: flex;
    align-items: end;
    .sub-body {
      height: 100%;
      .sub-con {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: 100%;
        .tit-box {
          padding: 8.375em 0 4.375em 0;
        }
        .btn-box {
          justify-content: center;
          align-items: end;
          padding: 8em 0 0 0;
          li{
            a {
              span {
                &:first-child {
                }
                &:last-child {
                  font-size: map-get($font_size_pc, btn_lg);
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}