@import "reset";
@import "variable";
@import "mixin";
@import "common";
@import "layout";

/* sub-page Main */
.page-main {
  .div-cont{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .main-con{
      height: 80%;
      display: grid;
      justify-content: center;
      align-items: center;
      .visual-txt{
        text-align: center;
        h2 {
          text-transform: uppercase;
          font-weight: map-get($font_wight, light);
        }
        p {
          font-size: map-get($font_size_mobile, body_lg);
          font-weight: map-get($font_wight, medium);
        }
        .gide {
          margin-top: 30px;
          span.l {
            @include icon;
            background: url(../Images/svg/Arrow_L_02.svg) no-repeat;
          }
          span.R {
            @include icon;
            background: url(../Images/svg/Arrow_R_02.svg) no-repeat;
          }
          i{
            content: '';
            display: inline-block;
            width: 54px;
            height: 54px;
            background: url(../Images/svg/swiper.svg) no-repeat;
            background-size: 124%;
            background-position: -5px 0;
          }
        }
      }
    }
  }
}