@import "reset";
@import "variable";
@import "mixin";
@import "common";
@import "layout";


/* ===========================
page Main 
============================= */
.main_wrap {
  background-color: #fdfdfd;
  width:100%;
  z-index: 2;
  .bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_mobile_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fdfdfd;
    animation:bgScale 3s 3s ease-in-out infinite alternate-reverse,
    bgblur 4s linear;
    z-index: -1;
  }
  .div-cont{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .visual-con{
      height: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      .visual-txt{
        text-align: center;
        h1 {
          @include logo;
        }
        h2 {
          text-transform: uppercase;
          font-weight: map-get($font_wight, light);
        }
        p {
          font-size: map-get($font_size_mobile, body_lg);
          font-weight: map-get($font_wight, medium);
        }
        .gide {
          position: relative;
          margin-top: map-get($size, px_40);
          height: 3.75rem;
          &:after {
            content: '왼쪽으로 쓸어 넘기세요.';
            font-size: map-get($font_size_pc, body_sm );
            position: absolute;
            left: 50%;
            bottom: 0.625rem;
            transform: translateX(-50%);
            opacity: 0;
            transition: 0.35s;
          }
          &:hover:after {
            opacity: 1;
            bottom: -0.5rem;
          }
          i {
            position: absolute;
            transform: translateX(-50%);
          }
          .l {
            left: 25%;
            animation: gide-arrow-l 2s 3s linear infinite;
            span {
              @include icon;
              background: url(../images/svg/arrow_l_02.svg) no-repeat;
            }
          }
          .R {
            left: 75%;
            animation: gide-arrow-r  2s 3s linear infinite;
            span {
              @include icon;
              background: url(../images/svg/arrow_r_02.svg) no-repeat;
            }
          }
          .hand {
            top:-10px;
            left: 51%;
            content: '';
            display: inline-block;
            width: 3.375rem;
            height: 3.375rem;
            background: url(../images/svg/swiper.svg) no-repeat;
            background-size: 124%;
            background-position: -0.313rem 0;
            animation:gide-hand 2s 3s linear infinite,
            gide-hand-op 2s linear 12 ;
            transition: 0.35s;
            opacity: 3%;
          }
        }
      }
    }
  }
}
@keyframes gide-hand {
  0% {
    transform: translateX(-80%) rotate(0deg) scale(84%);
  }
  50% {
    transform:translateX(-30%) rotate(5deg) scale(75%);
    opacity: 0;
  }
  80%{
    opacity: 100%;
  }
  100%{
    transform:translateX(-80%) rotate(0deg) scale(84%);
    opacity: 100%;
  }
} 
@keyframes gide-arrow-l {
  0% {
    left: 25%;
  }
  50% {
    left: 28%;
  }
  100%{
    left: 25%;
  }
} 
@keyframes gide-arrow-r {
  0% {
    left: 75%;
  }
  50% {
    left: 72%;
  }
  100%{
    left: 75%;
  }
} 
@keyframes bgScale {
  0% {
    transform: scaleY(1) translateY(0%) translateX(-50%) rotate3d(0);
  }
  50% {
    transform: scaleY(1.02) translateY(-0.5%) translateX(-50%) rotate3d(1, 1, 1, 0.1deg);
  }
  100% {
    transform: scaleY(1) translateX(-50%) rotate3d(0);
  }
}
@keyframes bgblur {
  0% {
    filter: blur(0.938rem);
    top:-9.375rem;
  }
  80% {
    filter: blur(0);
  }
  100% {
    filter: blur(0);
    top:0;
  }
}


/* Media Query */
@media (min-width: 768px){
  .main_wrap {
    .bg {
      background-image: url(../images/bg_tablet_main.jpg);
      background-size: contain;
      animation:bgScale 3s ease-in-out infinite alternate-reverse,
              bgblur 4s linear;
    }
    .div-cont {
      .visual-con{
        .visual-txt {
          h2 {
            font-size: 3.563rem;
            margin:map-get($size, px_8 ) 0;
          }
          p {
            font-size: map-get($font_size_pc, h4);
          }
        }
      }
    }
  }

  /* main 가이드*/
  @keyframes gide-hand {
    0% {
      transform: translateX(-80%) rotate(0deg) scale(100%);
    }
    50% {
      transform:translateX(-30%) rotate(5deg) scale(85%);
      opacity: 0%;
    }
    80%{
      opacity: 100%;
    }
    100%{
      transform:translateX(-80%) rotate(0deg) scale(100%);
      opacity: 100%;
    }
  } 
}
@media (min-width: 1200px) {
  .main_wrap {
    .bg {
      max-width: 1440px;
      background-image: url(../images/bg_pc_main.jpg);
      background-size: cover;
    }
    .div-cont {
      .visual-con {
        .visual-txt {
          padding-top: 9.375rem;
        }
      }
    }
  }
}

/* ===========================
page About 
==============================*/
#page-about {
  .sub-tit {
    background-image: url(../images/sub_top_visual01.jpg);
  }
  .sub-body {
    .sub-con {
      .content {
        .con01 {
          .profil {
            position: relative;
            .name {
              position: absolute;
              top: 9.375rem;
              left: 50%;
              transform: translateX(-180%);
              span{
                display: block;
                width: map-get($size, px_80);
                font-size: map-get($font_size_mobile, body_lg);
                text-align: right;
                line-height: 140%;
              }
            }
            .photo {
              width: 21.188rem;
              height: 22rem;
              margin:0 auto;
              background-image: url(../images/profile_photo.png);
              @include background;
            }
          }
          .about-text {
            h2 {
              font-size: map-get($font_size_pc, h2_ko);
              margin: map-get($size, px_40) 0  map-get($size, px_32)  0;
            }
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: map-get($font_size_mobile, btn_md);
              color: #fff;
              width: 100%;
              border-radius: map-get($size, px_50);
              padding:0.75rem 0;
              margin-top: map-get($size, px_50);
              background-color: map-get($color, primary-point);
              span {
                margin-right: map-get($size, px_8);
              }
            }
          }
        }
        .con02 {
          margin-top: map-get($size, px_20 );
          .tech-wrap {
            .tech-box {
              h2 {
                font-weight: map-get($font_wight, light);
                b {
                  font-weight: map-get($font_wight, medium);
                }
              }
              .tech-explain {
                border-top: 1px solid map-get($color, text);
                margin-top: map-get($size, px_28);
                padding-top: map-get($size, px_28);
                li {
                  display: grid;
                  grid-template-columns: map-get($size, px_24) 1fr;
                  margin-bottom: map-get($size, px_16);
                  i {
                    @include icon;
                    background-image: url(../images/svg/list-bullet.svg);
                    background-position-y: -0.063rem;
                  }
                  span {
                    line-height: 1.5;
                  }
                }
              }
              .tech-icon {
                margin-top: map-get($size, px_24);
                span{
                  display: inline-block;
                  width: map-get($size, px_40);    
                  height: map-get($size, px_40);
                  @include background;
                  margin: 0.75rem 0.75rem 0 0;    
                }
              }  
            }
            li:nth-child(1).tech-box {
              .tech-icon {
                span:nth-child(1){
                  background-image: url(../images/svg/skill-icons_html5.svg);
                }
                span:nth-child(2){
                  background-image: url(../images/svg/skill-icons_css3.svg);
                }
                span:nth-child(3){
                  background-image: url(../images/svg/skill-icons_javascript.svg);
                }
                span:nth-child(4){
                  background-image: url(../images/svg/skill-icons_scss2.svg);
                }
                span:nth-child(5){
                  background-image: url(../images/svg/skill-icons_jquery.svg);
                  width: 9.901rem;
                }
                span:nth-child(6){
                  background-image: url(../images/svg/skill-icons_github_big.svg);
                  width: 2.619rem;
                }
                span:nth-child(7){
                  background-image: url(../images/svg/skill-icons_bootstrap.svg);
                  width: 3.138rem;
                }
              }
            }
            li:nth-child(2).tech-box {
              margin-top: map-get($size, px_64);
              .tech-icon {
                span:nth-child(1){
                  background-image: url(../images/svg/skill-icons_photoshop.svg);
                }
                span:nth-child(2){
                  background-image: url(../images/svg/skill-icons_illustrator.svg);
                }
                span:nth-child(3){
                  background-image: url(../images/svg/skill-icons_premiere.svg);
                }
                span:nth-child(4){
                  background-image: url(../images/svg/skill-icons_xd.svg);
                }
                span:nth-child(5){
                  background-image: url(../images/svg/skill-icons_figma-dark.svg);
                }
                span:nth-child(6){
                  background-image: url(../images/svg/skill-icons_canvar.svg);
                }
                span:nth-child(7){
                  background-image: url(../images/svg/skill-icons_zeplin.svg);
                  width: 3.122rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:768px) {
  #page-about {
    .div-cont {
      .sub-body { 
        nav {
          .tab-list {
            .tab{
              &:nth-child(1) span::before {
                background-image: url(../images/svg/tab_about-me.svg);
              }
              &:nth-child(2) span::before {
                background-image: url(../images/svg/tab_tech-stack.svg);
              }
            }
          }
        }
        .content {
          .con01 {
            .profil {
              .name {
                top: map-get($size, px_120);
                left: 50%;
                transform: translateX(100%);
                span{
                  width: 6.563rem;
                  font-size: map-get($font_size_pc, h4);
                  font-weight: map-get($font_wight, medium);
                  line-height: 120%;
                }
              }
              .photo {
                width: 36.725rem;
                height: 27.5rem;
                background-image: url(../images/pc_profile_photo.png);
              }
            }
            .about-text {
              h2 {
                text-align: center;
              }
              p {
                font-size: map-get($font_size_pc, body_lg);
                text-align: center;
                line-height: 150%;
                max-width: 37.5rem;
                margin:0 auto;
              }
              button {
                font-size: map-get($font_size_pc, btn_sm);
              }
            }
          }
          .con02 {
            .tech-wrap {
              .tech-box {
                .tech-explain {
                  max-width: 50rem;
                  li {
                    span {
                      font-size: map-get($font_size_pc, body_lg);
                    }
                  }
                }
                .tech-icon {
                  margin-top: map-get($size, px_28);
                }  
              }
              li:nth-child(2).tech-box {
                margin-top: map-get($size, px_120);
              }
            }
          }
        }
      }   
    }  
  }
} //min-width:768px
@media (min-width: 1200px) {
  #page-about {
    .sub-tit {
      background-image: url(../images/pc_sub_top_visual01.jpg);
    }
    .div-cont {
      .sub-body { 
        .content {
          padding: map-get($size , px_72) 0.625rem 0;
          .con01 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .about-text {
              padding-left: map-get($size, px_64);
              h2 {
                text-align: left;
                margin: map-get($size, px_40) 0  map-get($size, px_32)  0;
              }
              p {
                text-align: left;
                max-width: 26.875rem;
                margin:0;
              }
              button {
                width: 13.75rem;
                padding:1rem 0;
                margin-top: map-get($size, px_50);
                background-color: map-get($color, primary-point);
                span {
                  margin-right: map-get($size, px_8);
                }
              }
            }
          }
          .con02 {
            margin-top: map-get($size, px_28);
            .tech-wrap {
              .tech-box {
                display: grid;
                grid-template-columns: 1fr 1.9fr;
                margin-top: map-get($size, px_28);
                .tech-explain {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }   
    }  
  }  
} //min-width: 1200px

/* ===========================
page Work 
==============================*/
#page-work {
  .sub-tit {
    background-image: url(../images/sub_top_visual02.jpg);
  }
  .div-cont {
    .sub-body {
      .content {
        .title-wrap{
          margin: map-get($size, px_20) 0 map-get($size, px_50) 0;
          text-align: center;
          span {
            display: block;
            font-size: map-get($font_size_pc, body_lg);
            margin-top: map-get($size, px_8);
          }
        }
        .work-slider {
          position:relative;
          padding: map-get($size, px_72) 0 map-get($size, px_50) 0;
          margin-bottom: 500px;
          // overflow:hidden;
          &::before, &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include background;
          }
          &::before {
            top: 0;
            width: 2.188rem;
            height: 22.188rem;
            background-image: url(../images/svg/center_line.svg);
          }
          // &::after {
          //   bottom:0;
          //   width: 2.188rem;
          //   height: 8.75rem;
          //   background-image: url(../images/svg/center_line-buttom.svg);
          // }
          .swiper-slide {
            height: 240px !important;
            .img-box {
              height: 100%;
              @include background;
              .text-box {
                opacity: 0;
                transition: 0.35s;
                pointer-events: none;
                touch-action: none;
              }
              &:nth-child(1) {
                .img-box {
                  background-image: url(../images/pc_work-responsive01.jpg);
                }
              }
            }
            &:nth-child(2) {
              .img-box {
                background-color: rebeccapurple;
              }
            }
            &:nth-child(3) {
              .img-box {
                background-color: goldenrod;
              }
            }
          }
          .swiper-slide-active {
            .text-box {
              opacity: 1;
            }
          }
          .work-pagination {
            position: absolute;
            z-index: 1;
            .swiper-pagination-bullet {
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              font-size: 12px;
              color:#000;
              opacity: 1;
              background: rgba(0,0,0,0.2);
            }
            .swiper-pagination-bullet-active {
              color:#fff;
              background: map-get($color, primary-point);
            }
          }
        }
      }
    }
  }
}
@media (min-width:768px) {
  #page-work {
    .sub-tit {
      background-image: url(../images/pc_sub_top_visual02.jpg);
    }
    .div-cont {
      .sub-body { 
        nav {
          .tab-list {
            .tab{
              &:nth-child(1) span::before {
                background-image: url(../images/svg/tab_responsive.svg);
              }
              &:nth-child(2) span::before {
                background-image: url(../images/svg/tab_web.svg);
              }
              &:nth-child(3) span::before {
                background-image: url(../images/svg/tab_mobile.svg);
              }
            }
          }
        }
      }
    }    
  }
}

/* ===========================
page Design 
==============================*/
/* ===========================
page Contact 
==============================*/

