/* font */
$font_size_pc: (
  h1: 6.875rem,
  h2: 3.125rem,
  h2_ko: 3rem,
  h3_ko: 1.875rem,
  h4: 1.5rem,
  h4_ko: 1.375rem,
  body_lg: 1.125rem,
  body_sm: 0.75rem,
  btn_lg:1.5rem,
  btn_md: 1.125rem,
  btn_sm: 1rem
);
$font_size_mobile: (
  h1: 3.563rem,
  h2: 2.250rem,
  h2_ko: 2.125rem,
  h3_ko: 1.5rem,
  h4: 1.5rem,
  h4_ko: 1.375rem,
  body_lg: 1.125rem,
  body_sm: 0.75rem,
  btn_lg:1.125rem,
  btn_md: 1rem,
  btn_sm: 0.875rem
);
$font_wight : (
  thin:100,
  light:300,
  regular:400,
  medium:500,
  semibold:600,
  bold:700
);
/* color */
$color: (
  primary:rgba(205,156,252,0.8),
  secondary:rgba(233,221,243,0.9),
  primary-point:#7900EC,
  text:#1F1F1F,
  dark-bg:#1C1515,
  dark_Primary:#510A94,
  dark-secondary:rgba(52,39,61,0.8),
  dark-text:#E3E3E3,
);