/* font */
$font_size_pc: (
  h1: 6.875rem,
  h2: 6.875rem,
  h3: 3.125rem,
  h3_ko: 3rem,
  h4_ko: 1.875rem,
  h5: 1.5rem,
  h5_ko: 1.375rem,
  body_lg: 1.125rem,
  body_sm: 0.75rem,
  btn_lg:1.5rem,
  btn_md: 1.125rem,
  btn_sm: 1rem
);
$font_size_mobile: (
  h1: 3.563rem,
  h2: 3.563rem,
  h3: 2.250rem,
  h3_ko: 2.125rem,
  h4_ko: 1.5rem,
  h5: 1.5rem,
  h5_ko: 1.375rem,
  body_lg: 1.125rem,
  body_sm: 0.75rem,
  btn_lg:1.125rem,
  btn_md: 1rem,
  btn_sm: 0.875rem
);
$font_wight : (
  thin:100,
  light:300,
  regular:400,
  medium:500,
  semibold:600,
  bold:700
);
/* color */
$color: (
  primary:rgba(205,156,252,0.8),
  secondary:rgba(233,221,243,0.9),
  tertiary: rgba(184,142,224,0.8),
  primary-point:#7900EC,
  text:#1F1F1F,
  dark-bg:#1C1515,
  dark-primary:#510A94,
  dark-secondary:rgba(52,39,61,0.8),
  dark-tertiary: #470c80,
  dark-text:#E3E3E3,
);

/* spacing */
$size: (
  px_8: 0.5rem,
  px_10:0.625rem,
  px_16: 1rem,
  px_20: 1.25rem,
  px_24: 1.5rem,
  px_28: 1.75rem,
  px_32: 2rem,
  px_40: 2.5rem,
  px_48: 3rem,
  px_50: 3.125rem,
  px_56: 3.5rem,
  px_60:3.75rem,
  px_64: 4rem,
  px_72: 4.5rem,
  px_80: 5rem,
  px_100: 6.25rem,
  px_120: 7.5rem,
);